# Preperation

## Download the data:

See tutorial for the defails:

```
$ mkdir /home/labuser/epidemiology && cd "$_" # mkdir and cd
$ wget https://transfer.sh/zGqkG/CHD.zip
$ wget https://transfer.sh/10rhH9/MENO.zip
$ wget https://transfer.sh/fiFTX/T2D.zip
```

## Get Checksum Files

```
$ wget https://raw.githubusercontent.com/Infomdss2018/infomdss/master/tutorial_6/check_sum_files/CHD.zip.sha1  
$ wget https://raw.githubusercontent.com/Infomdss2018/infomdss/master/tutorial_6/check_sum_files/MENO.zip.sha1 
$ wget https://raw.githubusercontent.com/Infomdss2018/infomdss/master/tutorial_6/check_sum_files/T2D.zip.sha1 
```

## Execute Checksum

```
$ sha1sum -c CHD.zip.sha1
$ sha1sum -c MENO.zip.sha1
$ sha1sum -c T2D.zip.sha1
```

## Unzip Epidemiology Data

```
$ unzip CHD.zip -d data/
$ unzip MENO.zip -d data/
$ unzip T2D.zip -d data/
```

## Give Permissions

```
$ chmod 777 data/*
```

## Step 6: Open Notebook

```
https://vmlabaXXX.westeurope.cloudapp.azure.com:8000 (replace XXX with the number of your VM)
```

# Assignments

## 1. Load the three datasets within your Spark environment.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("epidemiology").getOrCreate()
sc = spark.sparkContext

chd_path = "/home/labuser/epidemiology/data/CHD_coronary_heart_disease_SAMPLE.csv"
men_path = "/home/labuser/epidemiology/data/MENO_Menopause_HapMap2_DayNG2015_18112015_SAMPLE.csv"
t2d_path = "/home/labuser/epidemiology/data/T2D_diabetes_type_two_SAMPLE.csv"

# Note that only the SAMPLE data is used, if you want to test the real data you can uncommend the following lines
#chd_path = "/home/labuser/epidemiology/data/CHD_coronary_heart_disease.csv"
#men_path = "/home/labuser/epidemiology/data/MENO_Menopause_HapMap2_DayNG2015_18112015.csv"
#t2d_path = "/home/labuser/epidemiology/data/T2D_diabetes_type_two.csv"

# We need this path in question 2
epi_path = "/home/labuser/epidemiology/data/epi_tutorial_7.csv"

chd_RDD = sc.textFile(chd_path)
men_RDD = sc.textFile(men_path)
t2d_RDD = sc.textFile(t2d_path)

Note that a good way of manipulating data is by using data frames, which can be created from your RDD data, for example we can create a dataframe, meno_df, from meno_RDD:

In [2]:
header = chd_RDD.first()

# split data set
temp_var = chd_RDD.filter(lambda line: line != header).map(lambda k: k.split(";"))
chd_df = temp_var.toDF(header.split(";"))

Now we have a dataframe, we can for example show the first twenty rows:

In [3]:
chd_df.show()

+----------------+---+---------+-------------+----------------+------------------+-----------+-----+--------+--------+--------+----------+---------+
|      markername|chr|  bp_hg19|effect_allele|noneffect_allele|effect_allele_freq|median_info|model|    beta|  se_dgc|   p_dgc|het_pvalue|n_studies|
+----------------+---+---------+-------------+----------------+------------------+-----------+-----+--------+--------+--------+----------+---------+
|       rs7540212|  1|157259747|            G|               T|           .675984|        993|FIXED| .010379|.0101002| .304137|   .852783|       48|
|      rs35174775|  6| 24847434|            G|               A|           .685355|    .981575|FIXED|-.003668|.0102143|.7195163|    .85337|       47|
|      rs17717184| 16| 77829273|            C|               T|           .836133|        971|FIXED|-.008041|.0127475|.5281767|   .375501|       46|
|       rs6896654|  5| 78024784|            T|               A|           .785148|     .60226|FIXED| .020604|.0163985|.2089493|    .93901|       37|
|      rs10514937| 17| 46322298|            G|               A|           .987164|        718|FIXED|-.055547|.0521946|.2872248|   .215135|       41|
|      rs56336286|  2| 20835450|            A|               G|           .799745|     .98173|FIXED|-.012964|.0118339|.2732995|   .959998|       47|
|      rs72633026|  8| 39958554|            C|               G|           .963277|     .98391|FIXED| .021478|.0262738|.4136609|   .735646|       45|
|      rs11937467|  4| 35492268|            C|               G|           .832058|     .99786|FIXED|-.002148|.0123238|.8616324|   .984634|       48|
|       rs4542601| 15| 58565099|            T|               C|           .496025|        .97|FIXED|-.015124|.0092985| .103845|   .557601|       48|
|chr5:161737169:D|  5|161737169|            D|               I|           .590875|     .91517|FIXED| .024215| .009947|.0149169|    .79342|       47|
|       rs2964449|  5|  5414800|            T|               G|           .604048|     .99742|FIXED|-.014085|.0094322|.1353596|   .484547|       48|
|      rs58541550|  2| 25839551|            C|               T|           .837458|     .99407|FIXED|  .00508|.0126866|.6888463|   .460232|       48|
|      rs13360903|  5|141821413|            G|               A|           .618473|     .99618|FIXED|  .00582|.0095375|.5417151|   .813124|       47|
|       rs6562633| 13| 71071896|            A|               G|           .778649|    .994095|FIXED|-.001171|.0115808|.9194587|   .328035|       47|
|      rs60116510| 19| 43447347|            C|               T|           .855267|        953|FIXED| .031161|.0147223|.0342954|   .113555|       44|
|      rs78768893|  4|170804226|            C|               T|           .949142|     .98224|FIXED|  .02727|.0219385|.2138598|   .694209|       45|
|      rs13264028|  8| 54859940|            T|               C|           .774645|     .89181|FIXED|-.008844|.0118437|.4552285|   .023507|       47|
|      rs62481284|  7|155612556|            G|               A|           .673493|     .90879|FIXED| .003688|.0105402|.7264138|   .733154|       46|
|      rs61052895|  3| 10147516|            G|               A|           .826415|        994|FIXED| -.00611|.0121022|.6136531|   .088752|       48|
|      rs61052895|  3| 10147516|            G|               A|           .826415|           |FIXED| -.00611|.0121022|.6136531|   .088752|       48|
+----------------+---+---------+-------------+----------------+------------------+-----------+-----+--------+--------+--------+----------+---------+
only showing top 20 rows

Or we can look-up the types of data in every column:

In [4]:
chd_df.schema

StructType(List(StructField(markername,StringType,true),StructField(chr,StringType,true),StructField(bp_hg19,StringType,true),StructField(effect_allele,StringType,true),StructField(noneffect_allele,StringType,true),StructField(effect_allele_freq,StringType,true),StructField(median_info,StringType,true),StructField(model,StringType,true),StructField(beta,StringType,true),StructField(se_dgc,StringType,true),StructField(p_dgc,StringType,true),StructField(het_pvalue,StringType,true),StructField(n_studies,StringType,true)))

Or we can show all column names:

In [5]:
chd_df.columns

['markername',
 'chr',
 'bp_hg19',
 'effect_allele',
 'noneffect_allele',
 'effect_allele_freq',
 'median_info',
 'model',
 'beta',
 'se_dgc',
 'p_dgc',
 'het_pvalue',
 'n_studies']

Or we can create a new matrices with a selection of available columns:

In [6]:
chd_df.select(["markername", "chr", "bp_hg19"]).show()

+----------------+---+---------+
|      markername|chr|  bp_hg19|
+----------------+---+---------+
|       rs7540212|  1|157259747|
|      rs35174775|  6| 24847434|
|      rs17717184| 16| 77829273|
|       rs6896654|  5| 78024784|
|      rs10514937| 17| 46322298|
|      rs56336286|  2| 20835450|
|      rs72633026|  8| 39958554|
|      rs11937467|  4| 35492268|
|       rs4542601| 15| 58565099|
|chr5:161737169:D|  5|161737169|
|       rs2964449|  5|  5414800|
|      rs58541550|  2| 25839551|
|      rs13360903|  5|141821413|
|       rs6562633| 13| 71071896|
|      rs60116510| 19| 43447347|
|      rs78768893|  4|170804226|
|      rs13264028|  8| 54859940|
|      rs62481284|  7|155612556|
|      rs61052895|  3| 10147516|
|      rs61052895|  3| 10147516|
+----------------+---+---------+
only showing top 20 rows

### Answer to question 1

A fast way of opening a file, spliting the data on a specified deliminator and creating a dataframe with an automated way to infer the schema is shown below:

In [7]:
# Create dataframe with schema inference
chd_df = spark.read.option("delimiter",";").csv(chd_path, inferSchema=True, header=True)
men_df = spark.read.option("delimiter",";").csv(men_path, inferSchema=True, header=True)
t2d_df = spark.read.option("delimiter",";").csv(t2d_path, inferSchema=True, header=True)

# Show all dataframes to check if all went well:
chd_df.show()
men_df.show()
t2d_df.show()

+----------------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+
|      markername|chr|  bp_hg19|effect_allele|noneffect_allele|effect_allele_freq|median_info|model|     beta|   se_dgc|    p_dgc|het_pvalue|n_studies|
+----------------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+
|       rs7540212|  1|157259747|            G|               T|          0.675984|      993.0|FIXED| 0.010379|0.0101002| 0.304137|  0.852783|       48|
|      rs35174775|  6| 24847434|            G|               A|          0.685355|   0.981575|FIXED|-0.003668|0.0102143|0.7195163|   0.85337|       47|
|      rs17717184| 16| 77829273|            C|               T|          0.836133|      971.0|FIXED|-0.008041|0.0127475|0.5281767|  0.375501|       46|
|       rs6896654|  5| 78024784|            T|               A|          0.785148|    0.60226|FIXED| 0.020604|0.0163985|0.2089493|   0.93901|       37|
|      rs10514937| 17| 46322298|            G|               A|          0.987164|      718.0|FIXED|-0.055547|0.0521946|0.2872248|  0.215135|       41|
|      rs56336286|  2| 20835450|            A|               G|          0.799745|    0.98173|FIXED|-0.012964|0.0118339|0.2732995|  0.959998|       47|
|      rs72633026|  8| 39958554|            C|               G|          0.963277|    0.98391|FIXED| 0.021478|0.0262738|0.4136609|  0.735646|       45|
|      rs11937467|  4| 35492268|            C|               G|          0.832058|    0.99786|FIXED|-0.002148|0.0123238|0.8616324|  0.984634|       48|
|       rs4542601| 15| 58565099|            T|               C|          0.496025|       0.97|FIXED|-0.015124|0.0092985| 0.103845|  0.557601|       48|
|chr5:161737169:D|  5|161737169|            D|               I|          0.590875|    0.91517|FIXED| 0.024215| 0.009947|0.0149169|   0.79342|       47|
|       rs2964449|  5|  5414800|            T|               G|          0.604048|    0.99742|FIXED|-0.014085|0.0094322|0.1353596|  0.484547|       48|
|      rs58541550|  2| 25839551|            C|               T|          0.837458|    0.99407|FIXED|  0.00508|0.0126866|0.6888463|  0.460232|       48|
|      rs13360903|  5|141821413|            G|               A|          0.618473|    0.99618|FIXED|  0.00582|0.0095375|0.5417151|  0.813124|       47|
|       rs6562633| 13| 71071896|            A|               G|          0.778649|   0.994095|FIXED|-0.001171|0.0115808|0.9194587|  0.328035|       47|
|      rs60116510| 19| 43447347|            C|               T|          0.855267|      953.0|FIXED| 0.031161|0.0147223|0.0342954|  0.113555|       44|
|      rs78768893|  4|170804226|            C|               T|          0.949142|    0.98224|FIXED|  0.02727|0.0219385|0.2138598|  0.694209|       45|
|      rs13264028|  8| 54859940|            T|               C|          0.774645|    0.89181|FIXED|-0.008844|0.0118437|0.4552285|  0.023507|       47|
|      rs62481284|  7|155612556|            G|               A|          0.673493|    0.90879|FIXED| 0.003688|0.0105402|0.7264138|  0.733154|       46|
|      rs61052895|  3| 10147516|            G|               A|          0.826415|      994.0|FIXED| -0.00611|0.0121022|0.6136531|  0.088752|       48|
|      rs61052895|  3| 10147516|            G|               A|          0.826415|       null|FIXED| -0.00611|0.0121022|0.6136531|  0.088752|       48|
+----------------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+
only showing top 20 rows

+----------+-------+-------+----------+------+------+-----+
|MarkerName|allele1|allele2|HapMap_eaf|effect|stderr|    p|
+----------+-------+-------+----------+------+------+-----+
|  rs362369|      t|      c|      0.07| -0.04|  0.04|  0.2|
| rs4757795|      a|      t|      0.73|  0.01|  0.02| 0.81|
|  rs184738|      a|      g|       0.7|  0.02|  0.02| 0.28|
| rs2927772|      t|      c|      0.41|  0.04|  0.02|0.048|
| rs2271827|      c|      g|      0.55|   0.0|  0.02| 0.98|
|rs10159557|      a|      t|      0.13|  0.01|  0.03| 0.78|
|  rs614621|      t|      g|      0.28|  0.01|  0.02| 0.58|
| rs8052076|      t|      c|      0.44|  -0.0|  0.02| 0.99|
| rs6729599|      t|      g|      0.97| -0.11|  0.09| 0.18|
|rs13097914|      t|      c|      0.59| -0.01|  0.02| 0.67|
| rs7038053|      t|      c|      0.98|  0.03|  0.05| 0.49|
| rs3780403|      t|      c|      0.88| -0.01|  0.04| 0.86|
|rs10490471|      c|      g|      0.47| -0.02|  0.02|  0.4|
|rs12082727|      t|      c|      0.31|   0.0|  0.02| 0.98|
|rs11216648|      a|      g|      0.63|  0.02|  0.02| 0.35|
| rs7543572|      t|      c|      0.36| -0.01|  0.02| 0.56|
|rs16828387|      a|      g|      0.03| -0.02|  0.07| 0.77|
| rs6857239|      c|      g|      0.98| -0.01|  0.08| 0.91|
| rs1545367|      a|      t|      0.73| -0.02|  0.02| 0.28|
|rs10744435|      t|      c|      0.37| -0.01|  0.03|  0.8|
+----------+-------+-------+----------+------+------+-----+
only showing top 20 rows

+------------+-------+-------+-------+------+-------+---------------+
|Chr:Position|Allele1|Allele2| Effect|StdErr|P-value|TotalSampleSize|
+------------+-------+-------+-------+------+-------+---------------+
|  4:39736786|      T|      G|   15.0|  18.0|    0.4|         158185|
| 18:12678965|      A|      C|   0.12|  0.12|   0.32|         132550|
|11:126622395|      A|      G|  -46.0|  0.17|   0.78|         132009|
| 2:159291605|      T|      C|   0.03|  0.02|   0.14|         158186|
| 2:184205319|      T|      C|  -32.0|  24.0|   0.18|         158186|
| 1:194878006|      T|      C| 0.0024|  22.0|   0.91|         152597|
| 19:20734439|      A|      G|  -64.0|  48.0|   0.18|         152313|
| 1:172408926|      T|      C|  -58.0|  26.0|   0.03|         158184|
| 1:199592188|      A|      G| 0.0087|  13.0|   0.49|         158184|
| 1:201963011|      T|      G|  -24.0|  39.0|   0.54|         152597|
| 3:154440137|      T|      C|  -11.0|  0.19|   0.95|          35454|
|  9:13333032|      A|      C|   21.0|  21.0|   0.33|         158183|
|  8:96775508|      A|      G|-0.0087|  14.0|   0.53|         158185|
| 4:157557584|      T|      C|  -25.0|  34.0|   0.46|         158185|
| 8:127322960|      A|      G|  -0.14|  0.15|   0.34|         114068|
|  1:62447179|      A|      T|   74.0|  0.14|    0.6|         132241|
| 16:19492898|      A|      C|   null|  15.0|   0.46|         158182|
| 16:77761366|      A|      G| 0.0071|  14.0|   0.62|         158182|
|  8:73637325|      A|      T|   0.19|  0.18|   0.29|         123908|
| 2:127941324|      T|      C|-0.0087|  12.0|   0.48|         158186|
+------------+-------+-------+-------+------+-------+---------------+
only showing top 20 rows

## 2. Merge the datasets on markername, into one integrated raw data file titled ```epi.csv```, hereafter: “data file”.

*Tip: You will notice that the diabetes set does not have markername. However, it has a column named chr:Position. This is a combined column, which is the same as the combination of two columns in the CAD file (chr and bp_hg19).*

1. First we can create new column in the CHD data frame, this new column is created by merging the values from the ```chr``` and ```bp_hg19``` column. We call this new column ```Chr:Position``` (so we can join it with the ```Chr:Position``` column from T2D)


2. We can join CHD and MENO with respect to column markername, since we only need the overlapping makers, we use an inner join. 


3. Lastly we can inner-join T2D with the CHD-MENO-join from step 2.


### Resources

This image explains the different joins:

<img src="https://i.stack.imgur.com/rOeAz.jpg" width="500px">


More on joins and other examples:

http://spark.apache.org/docs/2.2.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame.join

In [8]:
from pyspark.sql.functions import col

def map_chr_bp_hg19(line):
    chr_val = line[1]
    bp_hg19_val = line[2]
    return [str(chr_val) + ':' + str(bp_hg19_val)] + list(line)

# (1) add an additional column to the CARDIO-dataframe, as explained in the TIP-section
df_chd_header = chd_df.schema.names
df_chd_chrpos = chd_df.rdd.map(map_chr_bp_hg19)
df_chd_chrpos = df_chd_chrpos.toDF(["Chr:Position"] + df_chd_header)

# (2) Join the CARDIO-dataframe and the MENOPAUSE-dataframe
df_join_chd_men = df_chd_chrpos.join(men_df, 'markerName', 'inner').cache()

# (3) Join the CARDIO-MENOPAUSE-dataframe and the DIABETES-dataframe
df_join_chd_men_t2d = df_join_chd_men.join(t2d_df, 'Chr:Position', 'inner').cache()

# show the result
df_join_chd_men_t2d.show()

+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+
|Chr:Position|markername|chr|  bp_hg19|effect_allele|noneffect_allele|effect_allele_freq|median_info|model|     beta|   se_dgc|    p_dgc|het_pvalue|n_studies|allele1|allele2|HapMap_eaf|effect|stderr|   p|Allele1|Allele2| Effect|StdErr|P-value|TotalSampleSize|
+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+
| 16:75152974| rs1579333| 16| 75152974|            C|               T|          0.679763|      984.0|FIXED|-0.002167| 0.010425| 0.835334|  0.300132|       46|      t|      c|      0.26|  0.04|  null|0.05|      T|      C|   28.0|  13.0|   35.0|         158182|
| 12:68619797| rs3814241| 12| 68619797|            G|               T|          0.861495|    0.99985|FIXED| 0.011614|0.0133265|0.3834816|  0.778239|       48|      t|      g|      0.08| -0.01|  0.04|0.84|      T|      G|   26.0|  22.0|   0.22|         152596|
| 1:211521467| rs4951521|  1|211521467|            T|               C|          0.920779|    0.99987|FIXED| 0.003985|0.0207772|0.8479017|  0.485514|       47|      t|      c|      0.97| -0.01|  0.06|0.87|      T|      C|   35.0|  34.0|   0.29|         152597|
| 6:170620572| rs2024694|  6|170620572|            C|               T|           0.93129|        1.0|FIXED|   1.5E-5|0.0187796|0.9993627|  0.775704|       47|      t|      c|      0.08| -0.04|  0.05|0.37|      T|      C|   36.0|  25.0|   0.15|         156109|
| 8:137870921|rs10110110|  8|137870921|            A|               T|           0.97138|      985.0|FIXED|  0.03944|0.0265671| 0.137665|  0.919548|       48|      a|      t|      0.98|  0.03|   0.1|0.75|      A|      T|  -24.0|  48.0|   0.62|         158185|
| 3:143536512| rs6773298|  3|143536512|            A|               G|          0.745194|      997.0|FIXED|-0.005054|0.0104489|0.6286081|  0.767659|       48|      a|      g|      0.74|  0.06|  0.02|17.0|      A|      G|   19.0|  14.0|   0.18|         158185|
|  5:55853878|  rs462520|  5| 55853878|            A|               G|          0.564252|        1.0|FIXED|  3.14E-4|0.0093876|0.9733171|  0.132659|       48|      a|      g|      0.56| -0.01|  0.02|0.51|   null|      G|  -26.0|  13.0|   41.0|         152599|
| 16:75152974| rs1579333| 16| 75152974|            C|               T|          0.679763|      984.0|FIXED|-0.002167| 0.010425| 0.835334|  0.300132|       46|      t|      c|      0.26|  0.04|  null|0.05|      T|      C|   28.0|  13.0|   35.0|         158182|
| 9:108293284| rs7856617|  9|108293284|            T|               C|          0.875653|    0.99912|FIXED|-0.007186|0.0138881|0.6048611|  0.669389|       48|      t|      c|      0.89| -0.02|  0.04|0.54|      T|      C| 0.0059|  22.0|   0.79|         152596|
|  2:13193545|rs13406567|  2| 13193545|            C|               G|          0.907863|    0.99813|FIXED| 0.013463|0.0155066|0.3852794|  0.544068|       48|      c|      g|      0.93|  0.02|  0.04|0.62|      C|      G|  -21.0|  22.0|   0.36|         158186|
| 1:210869187|rs12754784|  1|210869187|         null|               T|          0.915994|      938.0| null|-0.002358|0.0178921|0.8951503|  0.554852|       44|      t|      c|      0.09|  0.02|  0.04|0.64|      T|      C|   0.03|  22.0|   0.18|         158184|
| 2:139098905| rs4280510|  2|139098905|            T|               A|          0.720745|   0.994245|FIXED| 0.014847|0.0106129|0.1618271|  0.400114|       47|      a|      t|      0.22|   0.0|  0.02| 0.9|      A|      T| 0.0017|  14.0|    0.9|         158186|
| 4:144499286| rs6835662|  4|144499286|            A|               T|          0.458253|   0.986185|FIXED|-0.022583|0.0093626|0.0158637|  0.768027|       47|      a|   null|      0.35| -0.02|  0.02|0.47|      A|      T|-0.0017|  12.0|   0.89|         158185|
| 4:144499286| rs6835662|  4|144499286|            A|               T|          0.458253|   0.986185|FIXED|-0.022583|0.0093626|0.0158637|  0.768027|       47|      a|      t|      0.35| -0.02|  0.02|0.47|      A|      T|-0.0017|  12.0|   0.89|         158185|
| 4:144499286| rs6835662|  4|144499286|            A|               T|          0.458253|   0.986185|FIXED|-0.022583|0.0093626|0.0158637|  0.768027|       47|      a|      t|      0.35| -0.02|  0.02|0.47|      A|      T|-0.0017|  12.0|   0.89|         158185|
| 21:43131861| rs9982491| 21| 43131861|            A|               G|          0.882493|       0.99|FIXED| -0.00605|0.0144301|0.6750247|  0.187259|       46|      a|      g|      0.96|  0.04|  0.04|0.28|      A|      G|   -5.0|  23.0|   0.82|         149852|
| 21:34288495| rs2898190| 21| 34288495|            C|               A|           0.70077|     0.9976|FIXED| 0.013294|0.0100296|0.1850134|  0.753292|       48|      a|      c|      0.24|  0.05|  0.02|43.0|      A|      C|    2.0|  13.0|   0.88|         158185|
| 15:96218026|rs11858005| 15| 96218026|            A|               G|          0.805693|    0.96041|FIXED| 0.023729|0.0123369|0.0544269|   0.53386|       48|      a|      g|      0.78| -0.01|  0.03|0.74|      A|      G|   13.0|  15.0|   0.38|         152598|
|  3:94563433| rs7648152|  3| 94563433|            G|               C|          0.649842|      997.0|FIXED|-0.009815|0.0097743|0.3153011|   0.57069|       46|      c|      g|      0.37|  0.01|  0.02|0.72|      C|      G|-0.0048|  12.0|    0.7|         158185|
| 21:20891961|  rs422621| 21| 20891961|            G|               A|           0.54681|        1.0|FIXED| 0.006676|0.0092703|0.4714329|  0.828117|       48|      a|      g|      0.45| -0.01|  0.02|0.54|      A|      G|-0.0072|  12.0|   0.56|         152598|
+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+
only showing top 20 rows

## 3. Record how many SNPs (markers) in each dataset cannot be merged.

The number of markers that is not merged is just the number of rows in every laoded data file minus the number of row in the joined dataframe.

So we can easally calculate the the number of removed row by using the ```count``` expression.

In [9]:
# get the number of rows form the loaded data frames
chd_count = df_chd_chrpos.count()
men_count = men_df.count()
t2d_count = t2d_df.count()

# count the row in the joined data-frame
chd_men_t2d_count = df_join_chd_men_t2d.count()

# print the results
print ("Numer of joined lines:  {0: 10d}".format(chd_men_t2d_count))
print ("Removed rows from cata: {0: 10d}".format(chd_count - chd_men_t2d_count))
print ("Removed rows from meno: {0: 10d}".format(men_count - chd_men_t2d_count))
print ("Removed rows from meta: {0: 10d}".format(t2d_count - chd_men_t2d_count))

Numer of joined lines:          24
Removed rows from cata:         81
Removed rows from meno:         80
Removed rows from meta:         79

## 4. Further sanitise the data file by removing any empty lines, unused columns. Identical rows and save the cleaned data-set.

In this exampl e we only remove duplicated row and rows with an empty value, this can be done in one line (3), but we can also do this in seperate steps (1) and (2).

Note that the sum of the removed duplicated and incompleate lines is not the same as the number of removed lines in the cleaned dataframe, how is this possible?

In [10]:
def remove_incomplete_rows(line):
    for word in line:
        if word == "" or word == None:
            return False
    return True

# (1) EXAMPLE: remove duplicated lines
epi_unique_df = df_join_chd_men_t2d.dropDuplicates().cache()
print ("Number of duplicate lines removed: {0}".format(chd_men_t2d_count - epi_unique_df.count()))

# (2) EXAMPLE: remove incomplete lines
epi_complete_df = df_join_chd_men_t2d.rdd.filter(remove_incomplete_rows).toDF()
print ("Number of incomplete lines removed: {0}".format(chd_men_t2d_count - epi_complete_df.count()))

# (3) remove incomplete and duplicated lines in one go
df_clean_epi = df_join_chd_men_t2d.rdd.filter(remove_incomplete_rows).toDF().dropDuplicates().cache()
print ("Number of incomplete or duplicate lines removed: {0}".format(chd_men_t2d_count - df_clean_epi.count()))

# print the results
print ("--- RESULTS ---")
print ("Clean data-set length: {0}".format(df_clean_epi.count()))
df_clean_epi.show()

Number of duplicate lines removed: 3
Number of incomplete lines removed: 5
Number of incomplete or duplicate lines removed: 7
--- RESULTS ---
Clean data-set length: 17
+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+
|Chr:Position|markername|chr|  bp_hg19|effect_allele|noneffect_allele|effect_allele_freq|median_info|model|     beta|   se_dgc|    p_dgc|het_pvalue|n_studies|allele1|allele2|HapMap_eaf|effect|stderr|   p|Allele1|Allele2| Effect|StdErr|P-value|TotalSampleSize|
+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+
|  2:13193545|rs13406567|  2| 13193545|            C|               G|          0.907863|    0.99813|FIXED| 0.013463|0.0155066|0.3852794|  0.544068|       48|      c|      g|      0.93|  0.02|  0.04|0.62|      C|      G|  -21.0|  22.0|   0.36|         158186|
| 2:139098905| rs4280510|  2|139098905|            T|               A|          0.720745|   0.994245|FIXED| 0.014847|0.0106129|0.1618271|  0.400114|       47|      a|      t|      0.22|   0.0|  0.02| 0.9|      A|      T| 0.0017|  14.0|    0.9|         158186|
| 15:96218026|rs11858005| 15| 96218026|            A|               G|          0.805693|    0.96041|FIXED| 0.023729|0.0123369|0.0544269|   0.53386|       48|      a|      g|      0.78| -0.01|  0.03|0.74|      A|      G|   13.0|  15.0|   0.38|         152598|
| 21:20891961|  rs422621| 21| 20891961|            G|               A|           0.54681|        1.0|FIXED| 0.006676|0.0092703|0.4714329|  0.828117|       48|      a|      g|      0.45| -0.01|  0.02|0.54|      A|      G|-0.0072|  12.0|   0.56|         152598|
|   7:5406479| rs4445136|  7|  5406479|            C|               T|          0.470347|   0.903585|FIXED|-0.006219| 0.010047|0.5359219|  0.096755|       43|      t|      c|      0.53|  0.08|  0.04|42.0|      T|      C| 0.0092|  13.0|   0.49|         149851|
| 6:170620572| rs2024694|  6|170620572|            C|               T|           0.93129|        1.0|FIXED|   1.5E-5|0.0187796|0.9993627|  0.775704|       47|      t|      c|      0.08| -0.04|  0.05|0.37|      T|      C|   36.0|  25.0|   0.15|         156109|
| 9:108293284| rs7856617|  9|108293284|            T|               C|          0.875653|    0.99912|FIXED|-0.007186|0.0138881|0.6048611|  0.669389|       48|      t|      c|      0.89| -0.02|  0.04|0.54|      T|      C| 0.0059|  22.0|   0.79|         152596|
| 8:137870921|rs10110110|  8|137870921|            A|               T|           0.97138|      985.0|FIXED|  0.03944|0.0265671| 0.137665|  0.919548|       48|      a|      t|      0.98|  0.03|   0.1|0.75|      A|      T|  -24.0|  48.0|   0.62|         158185|
|  3:16477573| rs4685339|  3| 16477573|            T|               A|          0.701102|     0.9105|FIXED|-0.004296|0.0111148|0.6991177|  0.867064|       47|      a|      t|      0.22| -0.01|  0.02|0.79|      A|      T| 0.0088|  14.0|   0.53|         152598|
| 12:68619797| rs3814241| 12| 68619797|            G|               T|          0.861495|    0.99985|FIXED| 0.011614|0.0133265|0.3834816|  0.778239|       48|      t|      g|      0.08| -0.01|  0.04|0.84|      T|      G|   26.0|  22.0|   0.22|         152596|
| 4:144499286| rs6835662|  4|144499286|            A|               T|          0.458253|   0.986185|FIXED|-0.022583|0.0093626|0.0158637|  0.768027|       47|      a|      t|      0.35| -0.02|  0.02|0.47|      A|      T|-0.0017|  12.0|   0.89|         158185|
| 1:211521467| rs4951521|  1|211521467|            T|               C|          0.920779|    0.99987|FIXED| 0.003985|0.0207772|0.8479017|  0.485514|       47|      t|      c|      0.97| -0.01|  0.06|0.87|      T|      C|   35.0|  34.0|   0.29|         152597|
| 21:37228466| rs2243466| 21| 37228466|            C|               T|          0.823882|        1.0|FIXED|  0.00118|0.0127757|0.9264098|  0.461709|       47|      t|      c|      0.13| -0.01|  0.03|0.66|      T|      C|-0.0016|  18.0|   0.93|         152598|
| 3:143536512| rs6773298|  3|143536512|            A|               G|          0.745194|      997.0|FIXED|-0.005054|0.0104489|0.6286081|  0.767659|       48|      a|      g|      0.74|  0.06|  0.02|17.0|      A|      G|   19.0|  14.0|   0.18|         158185|
| 21:43131861| rs9982491| 21| 43131861|            A|               G|          0.882493|       0.99|FIXED| -0.00605|0.0144301|0.6750247|  0.187259|       46|      a|      g|      0.96|  0.04|  0.04|0.28|      A|      G|   -5.0|  23.0|   0.82|         149852|
|  3:94563433| rs7648152|  3| 94563433|            G|               C|          0.649842|      997.0|FIXED|-0.009815|0.0097743|0.3153011|   0.57069|       46|      c|      g|      0.37|  0.01|  0.02|0.72|      C|      G|-0.0048|  12.0|    0.7|         158185|
| 21:34288495| rs2898190| 21| 34288495|            C|               A|           0.70077|     0.9976|FIXED| 0.013294|0.0100296|0.1850134|  0.753292|       48|      a|      c|      0.24|  0.05|  0.02|43.0|      A|      C|    2.0|  13.0|   0.88|         158185|
+------------+----------+---+---------+-------------+----------------+------------------+-----------+-----+---------+---------+---------+----------+---------+-------+-------+----------+------+------+----+-------+-------+-------+------+-------+---------------+

In [11]:
# map every row to a csv-like string
def toCSVLine(data):
    return ';'.join(str(d) for d in data)

# save the datafile as a comma separated csv-file
lines = df_clean_epi.rdd.map(toCSVLine)
lines.saveAsTextFile(epi_path)